{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'reviews/css/reviews.css' %}">
{% endblock extra_css %}

{% block content %}
<section class="callout-container">
    <img src="/media/yoga1.jpg" class="bg-img img-fluid" alt="Mukta Yoga and Wellbeing">
</section>
{% for post in posts %}
    <div class="reviews-container container">
        <div class="row">
            <div class="col">
                <h2 class="title-divider">{{ post.title }}</h2>
                <p>{{ post.content }}</p>
                <p class="text-muted">By {{ post.username }} on {{ post.date_posted}}</p>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock content %}

