{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'reviews/css/reviews.css' %}">
{% endblock extra_css %}

{% block banner %}
    <section class="callout-container">
        <img src="{{MEDIA_URL}}reviews.jpg" class="bg-img img-fluid" alt="Mukta Yoga and Wellbeing">
    </section>
{% endblock banner %}

{% block content %}
    <div class="reviews-container container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="review-header mb-4">Delete Review</legend>
                <h4>Do you want to delete review <span class="span-italic">"{{ object.title }}"</span> ?</h4>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'review-detail' object.id %}" aria-label="Cancel">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}

