{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'reviews/css/reviews.css' %}">
{% endblock extra_css %}

{% block content %}
<section class="callout-container">
    <img src="/media/yoga1.jpg" class="bg-img img-fluid" alt="Mukta Yoga and Wellbeing">
</section>
<div class="container add-review-btn">
    <a class="btn btn-outline-success" href="{% url 'review-create' %}"> Add New Review</a>
</div>
<div class="reviews-container container">
    <div class="row">
        <div class="col">
            <h2 class="title-divider review-title">{{ object.title }} </h2>
            <p>{{ object.content }}</p>
            <p class="text-muted">By {{ object.user }} on {{ object.date_posted|date:"F d, Y" }}</p>
            {% if user == object.user %}
                    <a class="btn btn-outline-info" href="{% url 'review-update' object.id %}">Update</a>
                    <a class="btn btn-outline-danger" href="{% url 'review-delete' object.id %}">Delete</a>
                    <a class="btn btn-outline-secondary" href="{% url 'reviews' %}" >Cancel</a>
            {% else %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

