{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'reviews/css/reviews.css' %}">
{% endblock extra_css %}

{% block banner %}
    <section class="callout-container">
        <img src="/media/reviews.jpg" class="bg-img img-fluid" alt="Mukta Yoga and Wellbeing">
    </section>
{% endblock banner %}

{% block content %}
<div class="container add-review-container">
    <a class="btn add-review-btn" href="{% url 'review-create' %}"> Add New Review</a>
</div>
{% for review in reviews %}
    {% if user == review.user %}
        <div class="reviews-container container">
            <div class="row">
                <div class="col">
                    <h2><a class="title-divider links" href="{% url 'review-detail' review.id %}">{{ review.title }}</a></h2>
                    <p class="review-content">{{ review.content }}</p>
                    <p class="text-muted">By {{ review.user }} {%if review.friendly_name %} ({{ review.friendly_name }}) on {{ review.date_posted|date:"F d, Y" }}{% else %}on {{ review.date_posted}}{% endif %}</p>
                    <a class="btn btn-outline-info" href="{% url 'review-update' review.id %}">Update</a>
                    <a class="btn btn-outline-danger" href="{% url 'review-delete' review.id %}">Delete</a>
                    <a class="btn btn-outline-secondary" href="{% url 'reviews' %}" >Cancel</a>
                </div>
            </div>
        </div>
    {% else %}
    {% endif %}
{% endfor %}
{% endblock content %}

