.title-divider {
  padding-bottom: 1px;
  margin-bottom: 14px;
  border-bottom: 1px solid #3f8fa8;
  color: #2A5F70;
}

.user-review {
  color: #234F5D;
}

.reviews-container {
  background: #DCECF2;
  padding: 10px 20px;
  border: solid 5px #3f8fa8;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}
/* Carousel */

.carousel-container {
  text-align: center;
  justify-content: center;
}

.carousel-inner-container {
  background-color: #DCECF2;
  margin-top: 20px;
  padding: 35px 0;
  border: solid 5px #3f8fa8;
}

/* Create Review */

.add-review-btn {
  text-align: center;
  margin-top: 30px;
}

.single-review {
 width: 80%;
}

/* Media queries */

@media screen and (max-width: 414px) {
  .reviews-container {
    width: 95%;
  }
}