/* Title */

.title {
  margin-top: 50px;
  color: #3f8fa8;
}

.reviews-p {
  font-size: 19px;
  margin-left: 3%;
  line-height: 2;
}

.title-divider {
  padding-bottom: 1px;
  margin-bottom: 14px;
  border-bottom: 1px solid #3f8fa8;
  color: #2a5f70;
}

.user-review {
  color: #234f5d;
}

.reviews-container {
  background: #dcecf2;
  padding: 10px 20px;
  border: solid 5px #3f8fa8;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

/* Button */

.add-review-btn {
  margin-left: 3%;
  color: #3f8fa8;
  border: solid 2px #3f8fa8;
  text-align: center;
  margin-top: 30px;
}

.add-review-btn:hover {
  background-color: #3f8fa8;
  color: #ffffff;
}

/* Carousel */

.carousel-container {
  text-align: center;
  justify-content: center;
  margin: 50px 0;
}

.carousel-inner-container {
  background-color: #dcecf2;
  margin-top: 20px;
  padding: 35px 0;
  border: solid 5px #3f8fa8;
}

/* Create Review */

.add-review-container {
  text-align: left;
  margin-top: 30px;
}

.single-review {
  width: 80%;
}

/* Media queries */

@media screen and (max-width: 414px) {
  .reviews-container {
    width: 95%;
  }
}
