/* Title */

.title {
  color: #655669;
}

.contact-icon {
  font-size: 35px;
  width: 100px;
  padding: 20px;
  background-color: #e1dbe1;
  border: solid 2px #655669;
  border-radius: 50%;
  text-align: center;
  color: #655669;
}

.each-contact {
  margin-top: 30px;
}

.info-contact {
  position: relative;
  margin-top: 10px;
}

.each-contact-title {
  font-weight: 700;
  text-transform: uppercase;
}

#map {
  height: 340px;
  width: 100%;
}

.map-container {
  margin-top: 40px;
}

/* Media queries */

@media screen and (min-width: 1200px) {
  .info-contact {
    margin-top: 17px;
    margin-left: -50px;
  }
}

@media screen and (max-width: 414px) {
  .contact-icon {
    font-size: 25px;
    width: 80px;
    padding: 20px;
  }

  .info-contact {
    margin-top: 8px;
  }
}
