{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container index-container">
    <div class="inner-index">
        <div class="row index-h1">
            <h1>
                About Us
            </h1>
        </div>
        <div class="row">
            <div class="index-p col-lg-6 col-10">
                <p>Mukta Yoga and Wellbeing is one of the top suppliers of yoga equipment and wellbeing accessories needed for a healthy practice.
                    Our mission is to offer the best quality products that promote holistic living, meditation and spiritual wellbeing.
                </p>
            </div>
            <img class="index-img" src="/media/index1.png">     
        </div>
    </div>
    <div class="inner-index background-index">
        <div class="row index-h1">
            <h1>
                Products
            </h1>
        </div>
        <div class="row">
            <div class="index-p col-lg-6 col-10 order-lg-last">
                <p class="text-right">We offer a range of excellent quality products that are great value for money. We're here to serve you along your yoga and wellbeing journey - wherever it may take you.
                </p>
                <div class="index-btn float-right">
                    <a class="btn index-btn-outline" href="{% url 'products' %}"> Check our products</a>
                </div>
            </div>
            <img class="index-img" src="/media/index2.png">     
        </div>
    </div>
    <div class="inner-index">
        <div class="row index-h1">
            <h1>
                Workshops
            </h1>
        </div>
        <div class="row">
            <div class="index-p col-lg-6 col-10">
                <p>When creating an account on our website you will be able to check the best yoga and wellbeing workshops happening around London. 
                    <br/>Register here
                </p>
            </div>
            <img class="index-img" src="/media/index3.png">     
        </div>
    </div>
    <div class="inner-index background-index">
        <div class="row index-h1">
            <h1>
                Reviews
            </h1>
        </div>
        <div class="row">
            <div class="index-p col-lg-6 col-10 order-lg-last">
                <p class="text-right">Check the reviews that our lovely customers have left us and feel free to leave one about your experience on our website or about your purchases.
                    <br/>Reviews
                </p>
            </div>
            <img class="index-img" src="/media/index4.png">     
        </div>
    </div>  
    
</div>
{% endblock content %}