.inner-index {
  padding: 30px 320px !important;
  margin: auto;
  text-align: left !important;
}

.index-container {
  max-width: 100% !important;
  padding: 0 !important;
}

.index-img {
  width: 310px;
  height: 320px;
  margin: auto;
  padding: 25px 0;
}

.index-p {
  padding-top: 55px;
  position: relative;
  justify-content: center;
  margin: auto;
  font-size: 19px;
  line-height: 1.8;
}

.index-title {
  margin-bottom: 30px !important;
}

.index-h1 {
  justify-content: left;
  padding-left: 30px;
}

.background-index {
  background-color: #ede9ed;
}

.index-btn {
  text-align: center;
}

.index-btn-outline {
  background-color: #ffffff;
  color: #736177;
  border: solid 2px #736177;
  font-weight: bolder;
}

.index-btn-outline:hover {
  background: #736177;
  color: #ffffff;
  border: solid 2px #ffffff;
}

/* Overwrite footer */

.footer-container {
  margin-top: 0;
}

/* Media Queries */

@media screen and (max-width: 414px) {
  .inner-index {
    padding: 15px !important;
  }

  .index-p {
    padding-top: 10px;
    font-size: 16px;
  }

  .index-img {
    width: 230px;
    height: 250px;
    margin: auto;
  }
}

@media screen and (min-width: 415px) and (max-width: 1400px) {
  .inner-index {
    padding: 30px 100px !important;
  }
}

@media screen and (max-width: 991px) {
  .index-p {
    padding-top: 30px 100px;
  }

  .index-img {
    height: 275px;
    padding: 40px 0;
  }
}
