html {
  scroll-behavior: smooth;
}

header {
  position: absolute;
  z-index: 1;
}


.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  color: black !important;
}

.dropdown-menu {
  background-color: transparent;
}
.navbar {
  background-color: transparent;
}

.bg-img {
  height: 70vh;
  width: fit-content;
}

.nav-link {
  color: white !important;
  font-weight: 700;
}

#main-nav {
  font-size: 21px;
  margin-top: 80px;
}

.main-nav {
  margin: 0 20px;
}

.navbar-light .navbar-toggler {
  background-color: white !important;
}

.dropdown-item {
  color: white;
}

/* Products */

.card-img-top {
  height: 300px;
}

.mobile-nav {
  padding: 10px;
}

.delivery {
  background-color: black;
  color: white;
}

/* Shopping bag */

.update-link,
.remove-item {
  cursor: pointer;
}

/* Media queries */

@media screen and (min-width: 992px) {
  .nav-active {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-top: solid white;
  }
}


/*-- Messages --*/

.msg-container {
  text-align: center;
  border-radius: 0.3125rem;
  line-height: 1.5;
  max-width: 90%;
  padding: 1rem 2rem;
  margin-top: 30px;
}

.msg-body {
  font-size: 1rem;
}

.red-msg {
  color: #721c24;
  background-color: #f8d7da;
  border: solid 0.1875rem #f1b0b7;
}

.red-msg-body {
  color: #721c24;
}

.red-msg-i {
  text-align: center;
  color: #721c24;
}

.green-msg {
  color: #155724;
  background-color: #d4edda;
  border: solid 0.1875rem #b1dfbb;
}

.msg-margin {
  margin-top: 0.9375rem !important;
  margin-bottom: 0.9375rem;
}

.green-msg-body {
  color: #155724;
}

.green-msg-i {
  text-align: center;
  color: #155724;
}

.animated {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
}

.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}
