html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background: url('/media/yoga1.jpg') no-repeat center center fixed;
    background-size: cover;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: black !important;
}