.border-info {
  border-color: #3f8fa8 !important;
}

.card-img-top {
  height: 300px;
  width: 400px;
}

.delivery {
  background-color: #6a2640;
  color: white;
  padding: 5px;
}

.product-details-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-name {
    color: #6a2640;
    font-weight: bolder;
    font-size: 23px;
}

.product-name-small {
    color: #6a2640;
    font-weight: bolder;
}