/* Title */

.title-container {
  margin-left: 5%;
}

.title {
  color: #6a2640;
}

/* Products cards */

.border-info {
  border-color: #3f8fa8 !important;
}

.card-img-top {
  height: 300px;
  max-width: 400px;
}

.card-detail {
  border: solid 2px #6a2640;
}

.card {
  border: solid 1px #6a2640;
  background-color: #f4e6ea !important;
}

.card-bottom {
  padding: 20px;
}

.delivery {
  background-color: #6a2640;
  color: #ffffff;
  padding: 5px;
}

.product-details-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-name {
  color: #6a2640;
  font-weight: bolder;
  font-size: 23px;
}

.product-name-small {
  color: #6a2640;
  font-weight: bolder;
}

/* Buttons */

.btn-dark {
  color: #fff;
  background-color: #6a2640;
  border: 1px solid #6a2640;
}

.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus {
  background: #ffff;
  color: #6a2640 !important;
  font-weight: bolder !important;
  border: 1px solid #6a2640 !important;
}

.btn-outline-dark {
  color: #6a2640 !important;
  background-color: #ffff;
  border: 1px solid #6a2640;
}

.btn-outline-dark:hover,
.btn-outline-dark:active,
.btn-outline-dark:focus {
  background: #6a2640;
  color: #ffff !important;
  font-weight: bolder !important;
}

/* Back to top btn */

#top-btn {
  background-color: #6a2640;
  border-color: #6a2640;
}

#top-btn:hover {
  color: #6a2640;
}

/* Media queries */
@media screen and (width: 1024px) {
  .ipad-btn {
    padding: 4px;
  }
}

@media screen and (width: 2048px) {
  .title-container {
  margin-left: 13%;
  }
}
