/* Title */

.title-container {
  margin-left: 5%;
}

.title {
  color: #6a2640;
}

/* Buttons */

.btn-dark {
  color: #fff;
  background-color: #6a2640;
  border: 1px solid #6a2640;
}

.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus {
  background: #ffff;
  color: #6a2640 !important;
  font-weight: 700 !important;
  border: 1px solid #6a2640 !important;
}

.btn-outline-dark {
  color: #6a2640 !important;
  background-color: #ffff;
  border: 1px solid #6a2640;
}

.btn-outline-dark:hover,
.btn-outline-dark:active,
.btn-outline-dark:focus {
  background: #6a2640;
  color: #ffff !important;
  font-weight: 700 !important;
}

/* Products cards */

.border-info {
  border-color: #3f8fa8 !important;
}

.card-img-top {
  height: 300px;
  max-width: 400px;
}

.card-detail {
  border: solid 2px #6a2640;
}

.card {
  border: solid 1px #6a2640;
  background-color: #f4e6ea !important;
}

.card-bottom {
  padding: 1.25rem;
}

.delivery {
  background-color: #6a2640;
  color: #ffffff;
  padding: 0.3125rem;
}

.product-details-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-name {
  color: #6a2640;
  font-weight: 700;
  font-size: 1.4375rem;
}

.product-name-small {
  color: #6a2640;
  font-weight: 700;
}

/* Product Form */

.product-form {
  background: #f4e6ea;
  padding: 0.625rem 1.25rem;
  border: solid 5px #6a2640;
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
  text-align: center;
  width: 85% !important;
}

.product-header {
  color: #6a2640;
  font-weight: 700;
  padding-top: 1.875rem;
}

.add-product {
  text-align: left;
  margin-top: 1.875rem;
}

.add-product-btn {
  color: #6a2640;
  border: solid 2px #6a2640;
}

.add-product-btn:hover {
  background-color: #6a2640;
  color: #ffffff;
}

.product-btn-container {
  margin-top: 1.875rem;
}

input#id_image.clearablefileinput.form-control-file {
  background-color: #ffffff;
}

/* Back to top btn */

#top-btn {
  background-color: #6a2640;
  border-color: #6a2640;
}

#top-btn:hover {
  color: #6a2640;
}

/* Media queries */

@media screen and (width: 1024px) {
  .ipad-btn {
    padding: 0.25rem;
  }
}

@media screen and (width: 2048px) {
  .title-container {
    margin-left: 13%;
  }
}
