.workshop-container {
    margin-top: 50px;
    position: relative;
}

.workshop-desc{
    margin: auto;
}

.workshop-title {
  padding-bottom: 1px;
  margin-bottom: 14px;
  border-bottom: 1px solid #f28b42;
  color: #f28b42;
}

.workshop-title:hover {
    color: #f28b42;
    font-weight: bolder;
}

.workshop-img {
    width: 300px;
    margin: auto;
}
