.workshop-container {
  margin-top: 30px;
  padding: 25px;
  position: relative;
}

.workshop-desc {
  margin: auto;
}

.workshop-title {
  padding-bottom: 1px;
  margin-bottom: 14px;
  color: #f3995a;
}

.workshop-title:hover {
  color: #f3995a;
  font-weight: bolder;
}

.workshop-img {
  width: 350px;
  height: 450px;
  margin: auto;
  border: solid 50px #f7b78a;
}

.workshop-divider {
  margin: auto;
  padding-top: 30px;
  content: " ";
  display: flex;
  border-bottom: 0.09375rem solid #f7b78a;
  width: 80%;
}

.workshop-btn-container {
  margin-top: 30px;
}

.workshop-form {
  background: #fce4d2;
  padding: 10px 20px;
  border: solid 5px #f3995a;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  width: 85% !important;
}

.workshop-header {
  color: #f3995a;
  font-weight: bolder;
}

.add-workshop {
  text-align: center;
  margin-top: 30px;
}

.add-workshop-btn {
  color: #f18a42;
  border: solid 2px #f3995a;
}

.add-workshop-btn:hover {
  background-color: #f3995a;
  color: #ffffff;
}

/* Media Queries */

@media screen and (max-width: 414px) {
  .workshop-container {
    padding: 25px;
    position: relative;
  }

  .workshop-img {
    width: 250px;
    height: 350px;
    margin: auto;
    border: solid 20px #f7b78a;
  }
}
