{% extends "base.html" %}

{% block content %}
        <section class="callout-container">
            <img src="/media/yoga1.jpg" class="bg-img img-fluid" alt="Mukta Yoga and Wellbeing">
        </section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="allauth-form-inner-content">
                        {% block inner_content %}
                        {% endblock inner_content %}
                    </div>
                </div>
            </div>
        </div>        
{% endblock content %}