{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-12">
            <div class="container">
                <div class="row each-contact">
                    <div class="col-4">
                        <div class="contact-icon">
                            <span> <i aria-hidden="true" class="far fa-map"></i></span>
                        </div>
                    </div>
                    <div class="col-8 info-contact">
                        <p>
                            <span>Address</span>
                        </p>
                        <p>
                            74, Fake Address. CH58GF. London - Uk
                        </p>
                    </div>
                </div>
                <div class="row each-contact">
                    <div class="col-4">
                        <div class="contact-icon">
                            <span> <i aria-hidden="true" class="fas fa-phone"></i></span>
                        </div>
                    </div>
                    <div class="col-8 info-contact">
                        <p>
                            <span>Phone</span>
                        </p>
                        <p>+44 020 0964 8656</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="container mt-5">
                <p>Map</p>
            </div>
        </div>
    </div>
</div>
 
{% endblock content %}

