{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container">
    <h1>Contact Us</h1>
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="container">
                <div class="row each-contact">
                    <div class="col-4">
                        <div class="contact-icon">
                            <span> <i aria-hidden="true" class="far fa-map"></i></span>
                        </div>
                    </div>
                    <div class="col-8 info-contact">
                        <p>
                            <span class="each-contact-title">Office Address</span>
                        </p>
                        <p>
                            64 Guild Street. EC4V 1XP. London
                        </p>
                    </div>
                </div>
                <div class="row each-contact">
                    <div class="col-4">
                        <div class="contact-icon">
                            <span> <i aria-hidden="true" class="fas fa-phone"></i></span>
                        </div>
                    </div>
                    <div class="col-8 info-contact">
                        <p>
                            <span class="each-contact-title">Phone</span>
                        </p>
                        <p>+44 020 0964 8656</p>
                    </div>
                </div>
                <div class="row each-contact">
                    <div class="col-4">
                        <div class="contact-icon">
                            <span> <i aria-hidden="true" class="far fa-envelope"></i></span>
                        </div>
                    </div>
                    <div class="col-8 info-contact">
                        <p>
                            <span class="each-contact-title">Email</span>
                        </p>
                        <p>contact@mukta.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="container map-container">
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>
 
{% endblock content %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'contact/js/contact.js' %}"></script>
    <script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWgg3DWtI6GgurXt6QZPajVTKV2PHTjy0&callback=initMap">
    </script>
{% endblock postloadjs %}
