/* Title */

.title {
  margin-top: 50px;
}

/* Product qty */

.decrement-qty,
.increment-qty {
  background-color: #655669;
  color: #ffffff;
}

.btn-bag {
  padding: 5px;
  border: 1px solid #736177;
}

.btn-bag:hover,
.btn-bag:active,
.btn-bag:focus {
  background: #F8F7F8;
  border: 1px solid #736177 !important;
}

/* Media queries */
@media (max-width: 991px) {
  .btn-outline-dark,
  .btn-dark {
    padding: 0.375rem 0.375rem;
    font-size: 0.75rem;
  }

  .increment-qty,
  .decrement-qty {
    padding: 0.25rem 0.5rem !important;
  }
}
