{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock extra_css%}

{% block banner %}
    <section class="callout-container">
        <img src="/media/products.jpg" class="bg-img img-fluid" alt="Mukta Yoga and Wellbeing">
    </section>
{% endblock banner %}

{% block content %}
    <div class="container-fluid">
        <div class="row text-center delivery">
            <div class="col ">
              <h4 class="my-1">Free delivery on orders over ${{ free_delivery_threshold }}!</h4>                
            </div>            
        </div> 
    </div>     
    {% if messages %} 
    {% for message in messages %}
        <div aria-live="polite" aria-atomic="true" class=" d-flex justify-content-center align-items-center">
            <div class="msg-container red-msg" role="alert" aria-live="assertive" data-delay="4500" aria-atomic="true">
                <div class="red-msg-i">
                    <i class="far fa-times-circle fa-4x animated rotateIn"></i>
                </div>
                <div class="msg-body red-msg-body">
                    {{ message }}
                </div>
            </div>
        </div>
    {% endfor %}
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h1 class="title title-container">Products</h1>
                {% for c in current_categories %}
                    <a class="links" href="{% url 'products' %}?category={{ c.name }}" aria-label="Product category">
                        <span class="p-2 mt-2 badge border border-dark">{{ c.friendly_name }}</span>
                    </a>
                {% endfor %}
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1 col-xl-8 offset-xl-2">
                <div class="row mt-1 mb-5">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            {% if search_term or current_categories or current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'products' %}?category=accessories,wellbeing" aria-label="Products home">Products Home</a> | </span>
                            {% endif %}
                            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                    <div class="mb-5 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100 border-2">
                            {% if product.image %}
                                <a href="{% url 'product-detail' product.id %}" aria-label="Product image">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                            {% else %}
                                <a href="{% url 'product-detail' product.id %}" aria-label="Product image">
                                    <img class="card-img-top img-fluid" src="{{MEDIA_URL}}noimage.png" alt="{{ product.name }}">
                                </a>
                            {% endif %}
                            <div class="card-body pb-0">
                                <p class="mb-0 product-name-small">{{ product.name }}</p>
                            </div>
                            <div class="card-bottom pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                        {% if product.category %}
                                            <p class="small mt-1 mb-0">
                                                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}" aria-label="Product category">
                                                    <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                                </a>
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block postloadjs %}
    {{ block.super }}
      <script src="{% static 'products/js/products.js' %}"></script>
{% endblock postloadjs %}