{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock extra_css %}

{% block banner %}
    <section class="callout-container">
        <img src="{{MEDIA_URL}}products.jpg" class="bg-img img-fluid" alt="Mukta Yoga and Wellbeing">
    </section>
{% endblock banner %}

{% block content %}
    <div class="product-form container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="product-header mb-4">Delete Product</legend>
                <h4>Do you want to delete product <span class="span-italic">"{{ object.name }}"</span> ?</h4>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'products' %}" aria-label="Cancel">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}

