{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="callout-container">
        <img src="/media/yoga1.jpg" class="bg-img img-fluid" alt="Mukta Yoga and Wellbeing">
    </section>
    {% if messages %} 
    {% for message in messages %}
        <div aria-live="polite" aria-atomic="true" class=" d-flex justify-content-center align-items-center">
            <div class="msg-container red-msg" role="alert" aria-live="assertive" data-delay="4500" aria-atomic="true">
                <div class="red-msg-i">
                    <i class="far fa-times-circle fa-4x animated rotateIn"></i>
                </div>
                <div class="msg-body red-msg-body">
                    {{ message }}
                </div>
            </div>
        </div>
    {% endfor %}
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2>Products</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-5"></div>
                <div class="row">
                    {% for product in products %}
                    <div class="mb-5 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100 border-2">
                            {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                            {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{MEDIA_URL}}noimage.png" alt="{{ product.name }}">
                                </a>
                            {% endif %}
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ product.name }}</p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}