<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <div class="nav-active"></div>
            <a class="main-nav nav-link" href="#" id="events-link" aria-haspopup="true" aria-expanded="false">
                Events
            </a>
        </li>
        <li class="nav-item dropdown">
            <div class="nav-active"></div>
            <a class="main-nav nav-link" href="{% url 'products' %}" id="products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="products-link">
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item">Yoga Accessories</a>
                <a href="{% url 'products' %}?category=wellbeing" class="dropdown-item">Wellbeing</a>
                <a href="{% url 'products' %}?category=accessories,wellbeing" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item">
            <div class="nav-active"></div>
            <a class="main-nav nav-link" href="#" id="mantras-link" aria-haspopup="true" aria-expanded="false">
                Mantras
            </a>
        </li>

        <li class="nav-item dropdown">
            <div class="nav-active"></div>
            <a class="main-nav nav-link" href="#" id="contact-link" aria-haspopup="true" aria-expanded="false">
                Contact Us
            </a>
        </li>
    </ul>
</div>
