<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <div class="nav-active"></div>
            <a class="main-nav nav-link" href="{% url 'home' %}" id="home-link" aria-haspopup="true" aria-expanded="false" aria-label="Home">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <div class="nav-active"></div>
            <a class="main-nav nav-link" href="{% url 'products' %}" id="products-link" aria-haspopup="true" aria-expanded="false" aria-label="Products">
                Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="products-link">
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item" aria-label="Yoga accessories">Yoga Accessories</a>
                <a href="{% url 'products' %}?category=wellbeing" class="dropdown-item" aria-label="Wellbeing">Wellbeing</a>
                <a href="{% url 'products' %}?category=accessories,wellbeing" class="dropdown-item" aria-label="All products">All Products</a>
            </div>
        </li>

        {% if user.is_authenticated %}
            <li class="nav-item">
                <div class="nav-active"></div>
                <a class="main-nav nav-link" href="{% url 'workshops' %}" id="workshops-link" aria-haspopup="true" aria-expanded="false" aria-label="Workshops">
                    Workshops
                </a>
            </li>
        {% else %}
        {% endif %}

        <li class="nav-item">
            <div class="nav-active"></div>
            <a class="main-nav nav-link" href="{% url 'reviews' %}" id="reviews-link" aria-haspopup="true" aria-expanded="false" aria-label="Reviews">
                Reviews
            </a>
        </li>

        <li class="nav-item dropdown">
            <div class="nav-active"></div>
            <a class="main-nav nav-link" href="{% url 'contact' %}" id="contact-link" aria-haspopup="true" aria-expanded="false" aria-label="Contact us">
                Contact Us
            </a>
        </li>
    </ul>
</div>
