<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="font-weight-bold nav-link" href="#" id="events-link" aria-haspopup="true" aria-expanded="false">
                Events
            </a>
        </li
        <li class="nav-item">
            <a class="font-weight-bold nav-link" href="#" id="shop-link" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
        </li>

        <li class="nav-item">
            <a class=" font-weight-bold nav-link" href="#" id="mantras-link" aria-haspopup="true" aria-expanded="false">
                Mantras
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link" href="#" id="contact-link" aria-haspopup="true" aria-expanded="false">
                Contact Us
            </a>
        </li>
    </ul>
</div>