{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'workshops/css/workshops.css' %}">
{% endblock extra_css %}

{% block banner %}
    <section class="callout-container">
        <img src="/media/workshops.jpg" class="bg-img img-fluid" alt="Mukta Yoga and Wellbeing">
    </section>
{% endblock banner %}

{% block content %}
{% if request.user.is_superuser %}
<div class="container add-workshop">
    <a class="btn add-workshop-btn" href="{% url 'workshop-create' %}"> Add New Workshop</a>
</div>
{% endif %}
<div class="container">
    <h1 class="title">Workshops</h1>
</div>
{% for workshop in workshops %}
<div class="container text-center workshop-container">
    <div class="row">
        <div id="workshop-desc" class="col-lg-6 col-10 order-last {{workshop.order}} workshop-desc">
            <h2><a class="workshop-title" href="{% url 'workshop-detail' workshop.id %}">
                {{ workshop.title }}
            </a></h2>
            <h4> By {{ workshop.instructor }}</h4>
            <p class="content-p mb-5">{{ workshop.content }}</p>
            <div class="row">
                <div class="workshop-box">
                    <p class="p-title">When</p>
                    <p>{{ workshop.date|date:"D, d F o" }}</p>
                </div>
                <div class="workshop-box">
                    <p class="p-title">Time</p>
                    <p>{{ workshop.time }}</p>
                </div>
                <div class="workshop-box">
                    <p class="p-title">Where</p>
                    <p>{{ workshop.location }}</p>
                </div>
            </div>
        </div>
        <img class="workshop-img" src="{{workshop.images}}">     
    </div>
 </div>
 <div class="{{workshop.divider}}"></div>
{% endfor %}
{% endblock content %}




