{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'workshops/css/workshops.css' %}">
{% endblock extra_css %}

{% block banner %}
    <section class="callout-container">
        <img src="/media/workshops.jpg" class="bg-img img-fluid" alt="Mukta Yoga and Wellbeing">
    </section>
{% endblock banner %}

{% block content %}
{% if request.user.is_superuser %}
<div class="container add-workshop">
    <a class="btn add-workshop-btn" href="{% url 'workshop-create' %}"> Add New Workshop</a>
</div>
{% endif %}
<div class="container text-center workshop-container">
    <div class="row">
        <div class="col-lg-4 col-10 workshop-desc">
            <h2 class="workshop-header">{{ object.title }}</h2>
            <h4>{{ object.content }}</h4>
            <p>{{ object.date|date:"D, d F o" }}</p>
            <p>{{ object.time }}</p>
            <p>{{ object.location }}</p>
            <p>{{ object.instructor }}</p>
        </div>
        <img class="workshop-img" src="{{object.images}}">     
    </div>
    <div class="workshop-btn-container">
        <a class="btn btn-outline-info" href="{% url 'workshop-update' object.id %}">Update</a>
        <a class="btn btn-outline-danger" href="{% url 'workshop-delete' object.id %}">Delete</a>
        <a class="btn btn-outline-secondary" href="{% url 'workshops' %}" >Cancel</a>
    </div>
    
</div>
{% endblock content %}

