{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'workshops/css/workshops.css' %}">
{% endblock extra_css %}

{% block content %}
<section class="callout-container">
    <img src="/media/yoga1.jpg" class="bg-img img-fluid" alt="Mukta Yoga and Wellbeing">
</section>
    <div class="workshop-form container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="mb-4">Add a Workshop</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
                <a class="btn btn-outline-secondary" href="{% url 'workshops' %}" >Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}

