{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '/reviews/css/reviews.css' %}">
{% endblock extra_css %}

{% block content %}
<section class="callout-container">
    <img src="/media/yoga1.jpg" class="bg-img img-fluid" alt="Mukta Yoga and Wellbeing">
</section>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <h3 class="workshop-title">{{ object.title }}</h3>
            <h4>{{ object.content }}</h4>
            <p>{{ object.date|date:"D, d F o" }}</p>
            <p>{{ object.time }}</p>
            <p>{{ object.location }}</p>
            <p>{{ object.instructor }}</p>
            <img class="w-25 mb-5" src="{{object.images}}">
        </div>
    </div>
    <div>
        <a class="btn btn-outline-info" href="{% url 'workshop-update' object.id %}">Update</a>
        <a class="btn btn-outline-danger" href="{% url 'workshop-delete' object.id %}">Delete</a>
        <a class="btn btn-outline-secondary" href="{% url 'workshops' %}" >Cancel</a>
    </div>
    
</div>
{% endblock content %}

