{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'workshops/css/workshops.css' %}">
{% endblock extra_css %}

{% block content %}
<section class="callout-container">
    <img src="/media/yoga1.jpg" class="bg-img img-fluid" alt="Mukta Yoga and Wellbeing">
</section>
{% for workshop in workshops %}
<div class="container text-center workshop-container">
    <div class="row">
        <div class="col-lg-4 col-10 {{workshop.order}} workshop-desc">
            <h2><a class="workshop-title" href="{% url 'workshop-detail' workshop.id %}">
                {{ workshop.title }}
            </a></h2>
            <h4>{{ workshop.content }}</h4>
            <p>{{ workshop.date|date:"D, d F o" }}</p>
            <p>{{ workshop.time }}</p>
            <p>{{ workshop.location }}</p>
            <p>{{ workshop.instructor }}</p>
        </div>
        <img class="workshop-img teste" src="{{workshop.images}}">     
    </div>
    <div class="{{workshop.divider}}"></div>
 </div>
{% endfor %}
{% endblock content %}




