{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'workshops/css/workshops.css' %}">
{% endblock extra_css %}

{% block banner %}
    <section class="callout-container">
        <img src="/media/workshops.jpg" class="bg-img img-fluid" alt="Mukta Yoga and Wellbeing">
    </section>
{% endblock banner %}

{% block content %}
{% if request.user.is_superuser %}
<div class="container add-workshop">
    <a class="btn add-workshop-btn" aria-label="Add new workshop" href="{% url 'workshop-create' %}"> Add New Workshop</a>
</div>
{% endif %}
<div class="container">
    <h1 class="title">Workshops</h1>
    <p class="workshop-p">Here you will find the best yoga and wellbeing workshops happening around London.</p>
</div>
{% for workshop in workshops %}
<div class="container text-center workshop-container">
    <div class="row">
        <div id="workshop-desc" class="col-lg-6 col-10 order-last {{workshop.order}} workshop-desc">
            <h2><a class="workshop-title" aria-label="Workshop title" href="{% url 'workshop-detail' workshop.id %}">
                {{ workshop.title }}
            </a></h2>
            <h4> By {{ workshop.instructor }}</h4>
            <p class="content-p mb-5">{{ workshop.content }}</p>
            <div class="row">
                <div class="workshop-box">
                    <p class="p-title">When</p>
                    <p>{{ workshop.date|date:"D, d F o" }}</p>
                </div>
                <div class="workshop-box">
                    <p class="p-title">Time</p>
                    <p>{{ workshop.time }}</p>
                </div>
                <div class="workshop-box">
                    <p class="p-title">Where</p>
                    <p>{{ workshop.location }}</p>
                </div>
            </div>
        </div>
        <img class="workshop-img" src="{{workshop.images}}">     
    </div>
 </div>
 <div class="{{workshop.divider}}"></div>
{% endfor %}

<div class="workshop-pages">
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn workshop-pages-btn mb-4" aria-label="Go to first page"href="?page=1"><span>
                <i class="fas fa-angle-double-left"></i>
            </span></a>
            <a class="btn workshop-pages-btn mb-4" aria-label="Go to previous page"href="?page={{ page_obj.previous_page_number }}"><span>
                <i class="fas fa-angle-left"></i>
            </span></a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn current-page mb-4" aria-label="Current page" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn workshop-pages-btn mb-4" aria-label="Reviews page" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn workshop-pages-btn mb-4" aria-label="Go to next page" href="?page={{ page_obj.next_page_number }}"><span>
                <i class="fas fa-angle-right"></i>
            </span></a>
            <a class="btn workshop-pages-btn mb-4" aria-label="Go to last page" href="?page={{ page_obj.paginator.num_pages }}"><span>
                <i class="fas fa-angle-double-right"></i>
            </span></a>
        {% endif %}

    {% endif %}
</div>
{% endblock content %}




