{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'workshops/css/workshops.css' %}">
{% endblock extra_css %}

{% block banner %}
    <section class="callout-container">
        <img src="/media/workshops.jpg" class="bg-img img-fluid" alt="Mukta Yoga and Wellbeing">
    </section>
{% endblock banner %}

{% block content %}
{% if request.user.is_superuser %}
<div class="container add-workshop">
    <a class="btn add-workshop-btn" href="{% url 'workshop-create' %}" aria-label="Add new workshop"> Add New Workshop</a>
</div>
{% endif %}
<div class="container text-center workshop-container">
    <div class="row">
        <div id="workshop-desc" class="col-lg-6 col-10 workshop-desc">
            <h2><a class="workshop-title" aria-label="Workshop title">
                {{ object.title }}
            </a></h2>
            <h4> By {{ object.instructor }}</h4>
            <p class="content-p mb-5">{{ object.content|safe }}</p>
            <div class="row">
                <div class="workshop-box">
                    <p class="p-title">When</p>
                    <p>{{ object.date|date:"D, d F o" }}</p>
                </div>
                <div class="workshop-box">
                    <p class="p-title">Time</p>
                    <p>{{ object.time }}</p>
                </div>
                <div class="workshop-box">
                    <p class="p-title">Where</p>
                    <p>{{ object.location }}</p>
                </div>
            </div>
        </div>
        <img class="workshop-img" src="{{object.images}}" alt="Workshop image">     
    </div>
    <div class="workshop-btn-container">
        <a class="btn btn-outline-info" href="{% url 'workshop-update' object.id %}" aria-label="Update">Update</a>
        <a class="btn btn-outline-danger" href="{% url 'workshop-delete' object.id %}" aria-label="Delete">Delete</a>
        <a class="btn btn-outline-secondary" href="{% url 'workshops' %}" aria-label="Cancel">Cancel</a>
    </div>
    
</div>
{% endblock content %}

