{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'workshops/css/workshops.css' %}">
{% endblock extra_css %}

{% block banner %}
    <section class="callout-container">
        <img src="/media/workshops.jpg" class="bg-img img-fluid" alt="Mukta Yoga and Wellbeing">
    </section>
{% endblock banner %}

{% block content %}
    <div class="workshop-form container">
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend class="workshop-header mb-4">Add or Edit a Workshop</legend>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      {{ form.title|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6">
                      {{ form.date|as_crispy_field }}
                    </div>              
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                      {{ form.location|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4">
                      {{ form.time|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form.instructor|as_crispy_field }}
                      </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.order|as_crispy_field }}
                      </div>
                    <div class="form-group col-md-6">
                      {{ form.images|as_crispy_field }}
                    </div>              
                </div> 
                <div class="form-row">                    
                    <div class="form-group col">
                      {{ form.divider|as_crispy_field }}
                    </div>              
                </div>      
                <div class="form-row">                    
                    <div class="form-group col">
                      {{ form.content|as_crispy_field }}
                    </div>              
                </div>         
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
                <a class="btn btn-outline-secondary" href="{% url 'workshops' %}" >Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}

