{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'workshops/css/workshops.css' %}">
{% endblock extra_css %}

{% block banner %}
    <section class="callout-container">
        <img src="/media/workshops.jpg" class="bg-img img-fluid" alt="Mukta Yoga and Wellbeing">
    </section>
{% endblock banner %}

{% block content %}
    <div class="workshop-form container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="workshop-header mb-4">Delete Workshop</legend>
                <h3>Do you want to delete workshop <span class="span-italic">"{{ object.title }}"</span> ?</h3>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'workshops' %}" >Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}

